report.tw4e.description="Task Warrior for Emacs"
report.tw4e.columns=uuid,priority,tags,due,description.desc,urgency
report.tw4e.labels=UUID,P,Tags,Due,Description,Urgency
report.tw4e.sort=urgency-
report.tw4e.filter=status=pending